.formulario{
    padding: 12px;
    border: 1px solid;
    width: 25%;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}
label{
    padding: 10px 0 10px 0;
    background-color: #fff;
}

input{
    padding: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: #fff;
    width: 100%;
}

*{
    font-family: sans-serif;
    background-color: #ccc;
}
button{
    background-color: lightblue;
    font-size: 14px;
    padding: 7px;
    width: 100%;
    border-radius: 3px;
    margin-top: 3px;
}
#altoContraste {
    padding: 10px 100px 10px 100px;
}